<% content_for :page_header do %>New Recipe<% end %>
<%= form_with url: recipes_path, method: :post do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder:'Please enter the recipe name' %>
  </div>
  <div>
    <%= form.label :preparation_time %><br>
    <%= form.text_field :preparation_time, step: :any %>
  </div>
  <div>
    <%= form.label :cooking_time %><br>
    <%= form.text_field :cooking_time, step: :any %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, placeholder:'Please enter the recipe description' %>
  </div>
  <div>
    <%= form.label :is_public %><br>
    <%= form.check_box :is_public, class: 'public_recipe_toggle switch'%>
  </div>
  <div class="action_buttons">
    <%= form.submit 'Create Recipe' %>
  </div>
<% end %>
